<%= form_for(@article) do |f| %>
    <ul>
        <% @article.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
    <p>
        <%= f.label :title %>
        <div class="ui input">
          <%= f.text_field :title %>
        </div>
    </p>
    <p>
        <%= f.label :body %>
        <div class="ui form field">
            <%= f.text_area :body %>
        </div>
    </p>
    <p>
        <%= f.label :tag_list, "Tags" %>
        <div class="ui form field">
            <%= f.text_field :tag_list %>
        </div>
    </p>
    <p>
        <%= f.submit :class => "ui button"%>
    </p>
<% end %>